.imagebox{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.imagebox.medialeft{
    margin:.2em 1em .2em 0;
}
.imagebox.mediaright{
    margin:.2em 0 .2em 1em;
}

.imagebox.mediacenter{
    margin:.2em auto;
    justify-content: center;
}

.imagebox figure{
    background-color: #F9F9F9;
    border: 1px solid #CCC;
    flex-flow: column;
    padding: 5px;
    margin: 0;
}

.imagebox figcaption {
    padding: 3px;
    text-align: left;
    margin: 0;
}